:root {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

header,
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.nav {
  display: flex;
  gap: .75rem;
  align-items: center;
}

.button {
  padding: .5rem .75rem;
  border-radius: .5rem;
  border: 1px solid #e2e8f0;
  background: white;
}